html, body {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  font-family: 'PT Serif', serif;
  background-color: whitesmoke;
  }

div .spacer {
  line-height: 120px!important;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color:  black;
  font-weight: bold;
  padding-left: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
}

nav {
  display: flex;
  background-color: black;
  border-bottom: 1px solid;
  border-color: lightgray;
  color: black;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

/*-------------navbar----------------*/

nav .home {
  display: flex;
  align-items: center;
}

nav .nav-brand {
  color: whitesmoke;
  padding: 8px;
  /*background-color: #1394f2;*/
  border-radius: 5px;
  font-weight: bold;
}

nav .nav-brand:hover {
  color: black;
  background-color: whitesmoke;
}

nav div a {
  text-decoration: none;
}

/*-------------home----------------*/

h1 {
  padding-bottom: 10px;
  font-size: 2.7em; /*1908/40=47,7 */
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -1px;
  color: #97bbe8;
  background-color: black;
}

div .subtitle {
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

/*-------------footer----------------*/
footer {
  text-align: center;
  font-size: 15px;

  }

div .icons {
  display: flex;

}
div .github {
  padding: 10px;
}

div .linkedin {
  padding: 10px;
}

div .instagram {
  padding: 10px;
}

/*-------------Resume----------------*/

div .resume {

  padding-left: 10%;
  padding-right: 35%;
}



div h3 {
  color: black;
  border-bottom: 1px solid;
  border-color: #9d0002;
  font-weight: bold;
}


/*-------------Contactform----------------*/

label {
  max-width: -webkit-max-content;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;

  color: black;
}
input {

  width: 100%;
}

textarea {

  height: 120px;
  width: 100%;
}

div .contact {
 background-color: lightgray;
 border: 10px solid;
 border-radius: 5px;
 border-color: lightgray;
}
div .submit {
  text-align: center;
}
#submit {
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  background: whitesmoke;
  color: black;
  width: 50%;
}
