html, body {
  padding: 0px;
  margin: 0px;
  background-color: gray;
  font-size: 12px;
  font-family: sans-serif;
}

nav {
  display: flex;
  background-color: lightgray;
  color: orange;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;

}

nav div a {
  color: orange;
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 10px;
  list-style: none;
}

nav li a {
  color: orange;
  text-decoration: none;
}
nav li a:hover {
  color: white;
}
