html, body {
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  font-family: 'PT Serif', serif;
  background-color: #E3E8EC;
  }

div .spacer {
  line-height: 120px!important;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  color:  #34495e;
  font-weight: bold;
  padding-left: 5px;
  background-color: #E3E8EC;
  border-radius: 5px;
}

p {
  color: gray;
}
nav {
  display: flex;
  background-color: #34495e;
  border-bottom: 1px solid;
  border-color: lightgray;
  color: black;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

/*-------------navbar----------------*/

nav .home {
  display: flex;
  align-items: center;
}

nav .nav-brand {
  color: #E3E8EC;
  padding: 8px;
  /*background-color: #1394f2;*/
  border-radius: 5px;
  font-weight: bold;
}

nav .nav-brand:hover {
  color: #34495e;
  background-color: #E3E8EC;
}

nav div a {
  text-decoration: none;

}
.nav-link {
  color: #E3E8EC;
}

/*-------------home----------------*/

h1 {
  padding-bottom: 10px;
  font-size: 2.7em; /*1908/40=47,7 */
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -1px;
  color: #34495e;
  background-color: black;
}

div .subtitle {
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

/*-------------footer----------------*/
footer {
  text-align: center;
  font-size: 15px;
  background-color: #2C3E50;

  }
div .icons {
  display: flex;
}
div .github {
  padding: 10px;
}
div .linkedin {
  padding: 10px;
}
div .instagram {
  padding: 10px;
}

/*-------------Resume----------------*/

div .resume-resume {
  padding-left: 10%;
  padding-right: 35%;
  padding: 10px;
  background-color: #537778;
  border: 10px solid;
  border-radius: 5px;
  border-color: #537778;
}
div h3 {
  color: black;
  font-weight: bold;
}
#resume h2 {
    font: 18px/24px 'PT Serif', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
}

#resume h2 span {

    border-bottom: 3px solid #2C3E50;
    padding-bottom: 6px;
}
#resume h3 {
    font: 25px/30px 'PT Serif', serif;
}

.education, .work, .skill {
    margin-bottom: 48px;
    padding-bottom: 24px;

}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0px;
}
/*-------------Contactform----------------*/

label {
  max-width: -webkit-max-content;
  border-bottom: 3px solid #2C3E50;
  padding-bottom: 6px;
  color: #34495e;
  text-transform: uppercase;
}
form .col-3 {
  font: 18px/24px 'PT Serif', serif;
  font-size: 24px;
  text-align: right;
  letter-spacing: 1px;
}
input {
  width: 100%;
}

textarea {
  height: 10em;
  width: 100%;
}
