{% extends 'base.html' %}
{% block title %} about {% endblock %}
{% block content %}
<div class="container_2">
  <h2>About me</h2>
  <div class="row_2">
    <div class="col-2_2">
      <div>
        <div class="responsive">
          <a  href="/static/images/1.jpg" >
            <img class="middle" src="/static/images/1.jpg" alt=""  width="600" height="600" >
          </a>
        </div>
      </div>
    </div>
    <div class="col-8_2">
      <p>
        Hello, I am José Gabriel, known by my friends from
        Guayaquil as "El Chamo". Like "El Zurdo" or "Tortolero",
        by my friends in Venezuela. Here in Argentina,
        where I currently live, my friends and colleagues call me "Gabo"
        or "Chino", for the rest of my friends in the world, they refers to
        me as "José" or "Gabriel".
      </p>
    </div> <!-- main-col end -->
  </div> <!-- End Work -->
  <div class="row_2">
    <div class="col-8_2">
      <p>
        I was born in Caracas, Venezuela, the september 18th back in
        1983, six months after my birth, I moved to small town surrounded
        by mountains called Nirgua, I spent most of my childhood there,
        until it was time for me to go to the university.
      </p>
    </div> <!-- main-col end -->
    <div class="col-2_2">
      <div>
        <div class="responsive">
          <a href="/static/images/4.jpg">
            <img class="middle" src="/static/images/4.jpg" alt=""  width="600" height="600" >
          </a>
        </div>
      </div>
    </div>

  </div> <!-- End Work -->
  <div class="row_2">
    <div class="col-2_2">
      <div>
        <div class="responsive">
          <a href="/static/images/2.jpg">
            <img class="middle" src="/static/images/2.jpg" alt=""  width="600" height="600" >
          </a>
        </div>
      </div>
    </div>
    <div class="col-8_2">
      <p>
        I am a electrical engineer, I studied in the
        "Universidad de Carabobo", also I am learnig for a few years now,
        about Linux and PYTHON the coolest programming
        language I'm also working with databases, HTML and CSS, trying always to
        be usefull, be present in what is the thing that will shape the future, buildind
        scrips, re-learning maths, finding out about libraries that others think and building
        to make the python programmers life more easy...
      </p>
    </div> <!-- main-col end -->
  </div> <!-- End Work -->
  <div class="row_2">
    <div class="col-8_2">
      <p>
        I left my country a few years ago, in the 2017, I moved to
        Guayaquil, Ecuador, I lived there till the end of that year,
        it was an expirience!, I met so many great people there.
        After that I moved to Buenos Aires, Argentina,
        "La ciudad de la furia", an amazing place with amazing people.
      </p>
    </div> <!-- main-col end -->
    <div class="col-2_2">
      <div>
        <div class="responsive">
          <a href="/static/images/3.jpg">
            <img class="middle" src="/static/images/3.jpg" alt=""  width="600" height="600" >
          </a>
        </div>
      </div>
    </div>

  </div> <!-- End Work -->
  <div class="row_2">
    <div class="col-3_2">
      <div>
        <div class="responsive">
          <a href="/static/images/5.jpg">
            <img class="middle" src="/static/images/5.jpg" alt=""  width="600" height="600" >
          </a>
        </div>
      </div>
    </div>
    <div class="col-9_2">
      <p>
        In Venezuela, I became a Paraglider pilot back in 2012,
        one of the best outdoor activities that you can expirience,
        I has been from that moment always involve some how in this
        activity, competing or working. Here in Argentina I am constaly
        learning about sport climbing, boulder and trad climbing, it is
        all awesome, as you can tell I am an outdoor guy. Paragliding
        and climbing had let me find so many great places and so many
        beautiful people.
      </p>
    </div> <!-- main-col end -->
  </div> <!-- End Work -->
<div>
  <br>
  <div class="text-center">
    <h3>
      This web page that I built from the ground up,
      is a way for you to know me, who I am and what I do as a
      professional but also as person, welcome, I'll hope you enjoy.
    </h3>
  </div>
</div>


{% endblock %}
