<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>José Gabriel Tortolero Gutíerrez</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/CSS/styles.css">
  </head>
  <body>
    {% include 'navbar.html'%}
    <main class="main-content">
      <div class="main-title">
        {% block content %}
        {% endblock %}
      </div>

    </main>
    <footer>
      <div class="container">
        <div class="row">
          <p class="copyright text-muted">&copy; José Gabriel Tortolero Gutíerrez - 2021</p>
        </div>
      </div>
    </footer>
  </body>
</html>
