{% extends 'base.html' %}

{% block content %}
{% if name %}
  <h1>Gracias {{ name }} por contactarme</h1>
{% else %}
  <h1>Contactarme</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br/>
    {{ form.hidden_tag() }}
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br/>
    {{ form.hidden_tag() }}
    {{ form.mensaje.label(class="form-label") }}
    {{ form.mensaje(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-warning") }}

{% endif %}
{% endblock %}
