{% extends 'base.html' %}
{% block title %} home {% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="text-center">
      <img class="middle" src="/static/images/6.jpg" alt=""  width="400" height="auto">
    </div>
    <br>
    <div class="text-center">
      <h1>Jose Gabriel</h1>
      <h1>Tortolero Gutierrez</h1>
    </div>
    <br>
    <div class="text-center">
      <h4>Electrical Engineer and Programmer, in constant search of new <em>ADVENTURES</em>.</h4>
    </div>
  </div>
</div>

{% endblock %}
