<nav class="navbar">
  <div class="JGTG-image">
    <a class="navbar-brand" href="{{ url_for('index') }}">JGTG</a>
  </div>
  <div class="nav-options">
    <ul class="nav-options">
      <li class="nav-item"><a href="{{ url_for('about') }}">about</a></li>
      <li class="nav-item"><a href="{{ url_for('resume') }}">resume</a></li>
      <li class="nav-item"><a href="{{ url_for('blog') }}">blog</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">contact</a></li>
    </ul>
  </div>
</nav>
