<nav class="navbar fixed-top navbar-expand-lg ">
  <div class="container-fluid">
    <div class="home">
      <div class="nav-brand">
        <a class="nav-brand" name="brand" href="{{ url_for('index') }}">JGTG</a>
      </div>
    </div>
  <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
    <ul class="navbar-nav " >
      <a class="nav-link" href="{{ url_for('about') }}">about</a>
      <a class="nav-link" href="{{ url_for('resume') }}">resume</a>
      <a class="nav-link" href="{{ url_for('blog') }}">blog</a>
      <a class="nav-link" href="{{ url_for('contact') }}">contact</a>
    </ul>
  </div>
</div>
</nav>
