{% extends 'base.html' %}
{% block title %} resume {% endblock %}
{% block content %}
<div class="container">

<h2>Resume <a href="{{ 'get-pdf' }}" class="link-primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#34495e" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg>
</a></h2>

<section id="resume">
      <!-- Education------------------------------------------------->
      <div class="row">
         <div class="col-3">
            <h2><span>Education</span></h2>
         </div>
         <div class="col-9">
            <div class="row item">
               <div class="twelve columns">
                  <h3>Electrical Engineering</h3>
                  <p class="info">Universidad de Carabobo, Naguanagua, Venezuela</p>
                  <p><em class="date">July 2009</em></p>
                  <p>Electrical Engineer, specialized in power systems.</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>Linux Systems Administrator</h3>
                  <p class="info">Educación IT, Buenos Aires, Argentina</p>
                  <p><em class="date">Present</em></p>
                  <p>Linux Professional Institute LPIC-1 certification.</p>
               </div>
            </div> <!-- item end -->
         </div> <!-- main-col end -->
      </div> <!-- End Education -->
      <!-- Work------------------------------------------------->
      <div class="row">
         <div class="col-3">
            <h2><span>Work</span></h2>
         </div>
         <div class="col-9">
            <div class="row item">
               <div class="twelve columns">
                  <h3>TMH Argentina S.A.</h3>
                  <p class="info">Specialized technician</p>
                  <p><em class="date">February 2019 - Present</em></p>
                  <p>Maintenance of power and communications systems, lighting and ventilation control for the San Martin line trains.</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>Industria Avicola Mis Pollitos S.A.</h3>
                  <p class="info">Coordination and planning maintenance manager</p>
                  <p><em class="date">August 2015 – December 2017</em></p>
                  <p>Tools developer for coordination and planning of the maintenance program of the mechanicals, electrical and pneumatics systems of the plant.</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>TC Ingeniería C.A.</h3>
                  <p class="info">General Manager</p>
                  <p><em class="date">January 2012 – June 2015</em></p>
                  <p>Responsible for the general operations of the company.</p>
               </div>
            </div> <!-- item end -->
          </div> <!-- main-col end -->
        </div> <!-- End Work -->
        <!-- Skills------------------------------------------------->
        <div class="row">
           <div class="col-3">
              <h2><span>Skills</span></h2>
           </div>
        <div class="col-9">
          <div class="row item">
             <div class="twelve columns">
                <h3>Python</h3>
                <p class="info">
                  Web design (Flask and Django framework, HTML, CSS), API integration,
                  Python scripts development
                </p>
              </div>
          </div> <!-- item end -->
          <div class="row item">
             <div class="twelve columns">
                <h3>Databases</h3>
                <p class="info">
                  Management of SQL(MySQL, PostgreSQL, SQLite) and NoSQL(MongoDB)</p>
              </div>
          </div> <!-- item end -->
          <div class="row item">
             <div class="twelve columns">
                <h3>Linux</h3>
                <p class="info">
                  Install and maintain a Linux workstation (Debian and RedHat distributions),
                  work at the Linux command line, handle files and access permissions and
                  perform easy maintenance tasks.
                </p>
              </div>
          </div> <!-- item end -->
        </div> <!-- main-col end -->
      </div> <!-- End Skills -->
      <!-- othe activities------------------------------------------------->
      <div class="row">
         <div class="col-3">
            <h2><span>Other activities</span></h2>
         </div>
         <div class="col-9">
            <div class="row item">
               <div class="twelve columns">
                  <h3>FEDEVIP (Federación Venezolana de Ícaros y Parapentes)</h3>
                  <p class="info">Score Keeper</p>
                  <p><em class="date">anuary 2014 - March 2017</em></p>
                  <p>Score keeper for the Venezuelan Federation of Hang Gliders and Paragliders championships.</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>FAI (Fédération Aéronautique Internationale)</h3>
                  <p class="info">Meet Director Assistant</p>
                  <p><em class="date">January 2014</em></p>
                  <p>Meet Director Assistant for the Paragliding Pre-Worlds in Roldanillo, Colombia.</p>
               </div>
            </div> <!-- item end -->
            <div class="row item">
               <div class="twelve columns">
                  <h3>PWCA (Paragliding World Cup Association)</h3>
                  <p class="info">Meet Director Assistant</p>
                  <p><em class="date">October 2017</em></p>
                  <p>Event Director Assistant for the Paragliding World Cup in Guayaquil, Ecuador</p>
               </div>
            </div> <!-- item end -->
          </div> <!-- main-col end -->
        </div> <!-- End Other activities -->
</section>
</div>
{% endblock %}
