{% extends 'base.html' %}
{% block title %} resume {% endblock %}
{% block content %}
<div class="container">

  <h2>Resume <a href="{{ 'get-pdf' }}" class="link-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#34495e" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg>
  </a></h2>

<br>

  <section id="resume">

    <!-- Education------------------------------------------------->
    <div class="row">
      <div class="text-center">
        <h3 text-align=center><p>I am a person who works towards achieving the proposed results,</p>
          <p>seeking the efficiency and effectiveness of each process in which I work..</p>
        </h3>
      </div>
      <div class="col-3">
        <h2><span>Education</span></h2>
      </div>
      <div class="col-9">
        <div class="row item">
        <div class="twelve columns">
          <h3>Linux Systems Administrator</h3>
          <p class="info">Educación IT, Buenos Aires, Argentina</p>
          <p><em class="date">2020 - Present</em></p>
          <p>Linux Professional Institute LPIC-1 certification.</p>
        </div>
      </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>Electrical Engineering</h3>
            <p class="info">Universidad de Carabobo, Naguanagua, Venezuela</p>
            <p><em class="date">2002 - 2009</em></p>
            <p>Electrical Engineer, specialized in power systems.</p>
          </div>
        </div> <!-- item end -->

      </div> <!-- main-col end -->
    </div> <!-- End Education -->
    <!-- Work------------------------------------------------->
    <div class="row">
      <div class="col-3">
        <h2><span>Work</span></h2>
      </div>
      <div class="col-9">
        <div class="row item">
          <div class="twelve columns">
            <h3>RAIMBOWDESIGN Studio</h3>
            <p class="info">External Consultant</p>
            <p><em class="date">Jun 2021 - Present</em></p>
            <p>Reading architectural plans in Autocad, to transcribe and perform metric calculations for communication networks in the Bentley program.</p>
          </div>
        </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>VARICODE</h3>
            <p class="info">Programmer</p>
            <p><em class="date">May 2021</em></p>
            <p>Script development with Python using the pdPyras and PANDAS library to extract information from PagerDuty for platform change.</p>
          </div>
        </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>Personal project</h3>
            <p class="info">Programmer</p>
            <p><em class="date">December 2020 - Present</em></p>
            <p>Personal web page development using Html, CSS and Python's Flask Framework, and I use PostgreSQL and wtForms for the contact sheet.</p>
          </div>
        </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>TMH Argentina S.A.</h3>
            <p class="info">Specialized technician</p>
            <p><em class="date">February 2019 - June 2021</em></p>
            <p>Maintenance of energy and communications systems, lighting control andventilation of the San Martín line trains.</p>
            <p>60% improvement in time and quality of work in the electricity department.</p>
          </div>
        </div> <!-- item end -->

        <div class="row item">
          <div class="twelve columns">
            <h3>Industria Avícola Mis Pollitos C.A.</h3>
            <p class="info">Coordinator</p>
            <p><em class="date">August 2015 - December 2017</em></p>
            <p>Development and implementation of a 3-year maintenance program, using an interface with Excel Macros.</p>
            <p>Creation of a tool in Visual Basic, to determine the state of the insulation of theelectric motors of the plant.</p>
          </div>
        </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>Technician</h3>
            <p class="info">FEDEVIP</p>
            <p><em class="date">January 2014 - March 2017.</em></p>
            <p>Development of a Python program to determine the national ranking using PANDAS and MATPLOTLIB.</p>
          </div>
        </div> <!-- item end -->
      </div> <!-- main-col end -->
    </div> <!-- End Work -->
    <!-- Skills------------------------------------------------->
    <div class="row">
      <div class="col-3">
        <h2><span>Skills</span></h2>
      </div>
      <div class="col-9">
        <div class="row item">
          <div class="twelve columns">
            <h3>Python</h3>
            <p class="info">Flask and Django framework, API integration, Pandas, MATPLOTLIB</p>
          </div>
        </div> <!-- item end -->
        <div class="row item">
          <div class="twelve columns">
            <h3>Databases</h3>
            <p class="info">SQL(MySQL, PostgreSQL, SQLite) and NoSQL(MongoDB)</p>
            </div>
          </div> <!-- item end -->
          <div class="row item">
            <div class="twelve columns">
              <h3>Linux</h3>
              <p class="info">DEBIAN, REDHAT</p>
            </div>
          </div> <!-- item end -->
        </div> <!-- main-col end -->
      </div> <!-- End Skills -->
      <!-- othe activities------------------------------------------------->

    </section>
  </div>
  {% endblock %}
