{% extends 'base.html' %}

{% block content %}
<div class="spacer">&nbsp;</div>
<div class="spacer">&nbsp;</div>

<div class="container">
<h2>Resume</h2>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
<div class="contact">


      <h3 class="group" >Studies</h3>
      <br>
      <div class="first">
        <h3>Electrical Engineering</h3>
        <p>February 2002-July 2009</p>
        <h4>Electrical Engineer</h4>
        <p>Universidad de Carabobo, Naguanagua, Venezuela.</p>
        <br>
        <h3>Linux Systems Administrator</h3>
        <p>August 2020-Present</p>
        <h4>Linux Professional Institute LPIC-1 certification</h4>
        <p>Educación IT, Buenos Aires, Argentina.</p>
        <br>
      </div>
        <h3 class="group" >Employment</h3>
        <br>
        <div class="first">
          <h3>TMH Argentina S.A.</h3>
          <p>February 2019-Present</p>
          <h4>Specialized technician</h4>
          <p>Maintenance of power and communications systems, lighting and ventilation control for the San Martin line trains.</p>
          <br>
        </div>
        <div class="second">
          <h3>Industria Avicola Mis Pollitos S.A. </h3>
          <p>August 2015 – December 2017</p>
          <h4>Coordination and planning maintenance manager</h4>
          <p>Tool developer for coordination and planning of the maintenance program of the mechanicals, electrical and pneumatics systems of the plant.</p>
          <br>
        </div>
        <div class="third">
          <h3>TC Ingeniería C.A.</h3>
          <p>January 2012 – June 2015</p>
          <h4>General Manager</h4>
          <p>Responsible for the general operations of the company.</p>
          <br>
        </div>
        <h2 class="group" >Skills and knowledge</h2>
        <br>
        <div class="first">
          <h3>Python</h3>
          <p>Web design (Flask and Django framework, HTML, CSS), API integration, Python scripts development<p/>
          <h3>Databases</h3>
          <p>Management of MySQL, PostgreSQL, SQLite<p/>
          <h3>Linux</h3>
          <p>Install and maintain a Linux workstation (Debian and RedHat distributions), work at the Linux command line, handle files and access permissions and perform easy maintenance tasks.<p/>
          <h3>Electrical Engineering</h3>
          <p>Design of energy and power generation systems, design of industrial control and automation projects, technical project management and personnel management.<p/>
          <br>
        <h2>Other activities</h2>
        <br>
        <div class="fourth">
          <h3>FEDEVIP (Federación Venezolana de Ícaros y Parapentes)</h3>
          <p>January 2014- March 2017</p>
          <h4>Score Keeper.</h4>
          <p>Score keeper for the Venezuelan Federation of Hang Gliders and Paragliders championships.</p>
          <br>
        </div>
        <div class="fifth">
          <h3>FAI (Fédération Aéronautique Internationale)</h3>
          <p>January 2014</p>
          <h4>Meet Director Assistant</h4>
          <p>Meet Director Assistant for the Paragliding Pre-Worlds in Roldanillo, Colombia.</p>
          <br>
        </div>
        <div class="sixth">
          <h3>PWCA (Paragliding World Cup Association)</h3>
          <p>October 2017</p>
          <h4>Event Director Assistant</h4>
          <p>Event Director Assistant for the Paragliding World Cup in Guayaquil, Ecuador.</p>
</div>
    </div>
    <div class="col-1"></div>
  </div>

</div>

{% endblock %}
